@import "@/index.scss";

.heading {
    margin-bottom: 40px;
    color: rgb(241, 241, 241);
    font-weight: 700;
    font-size: 90px;

    &__letter {
        cursor: pointer;
        transition: all 0.1s linear;
        opacity: 0;
        animation: fade 0.1s ease-out both;

        &:hover {
            color: $redHightlightColor;
            text-shadow: 3px 5px $cyanHightlightColor;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .heading {
        font-size: 56px;
    }
}

@media (max-width: $phoneBreakPoint) {

    .heading {
        font-size: 36px;
    }
}
